* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.app-content {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: rgba(0, 0, 0, 0.8);
}

.app-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  animation: zoom 25s infinite alternate;
}

.app-header {
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 90%; /* Ajusta a largura automaticamente em telas menores */
  max-width: 600px; /* Define um limite máximo para telas maiores */
}

.app-header-title {
  position: absolute; /* Posiciona o título sobre a imagem */
  top: 10%; /* Ajuste a posição vertical do título */
  left: 50%; /* Centraliza horizontalmente */
  transform: translateX(-50%); /* Ajusta para centralizar exato */
  font-size: 3rem;
  background-image: linear-gradient(to right, rgba(255, 214, 214, 0.759), rgb(252, 81, 81));
  color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
  z-index: 10; /* Garante que o título esteja acima da imagem */
  text-align: center;
}

.search-bar {
  display: flex;
  align-items: center;
  width: 100%; /* Usa toda a largura do contêiner pai */
  height: 2.6em;
  border: 1.6px solid #e52d2d;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1rem 0rem 1rem 0.5rem;
  width: 60%; /* Diminui a largura geral do formulário */
  margin: 0 auto; /* Garante centralização horizontal */
}

#search-input {
  background: transparent;
  flex: 1;
  padding: 0.5rem;
  font-size: 1em;
  border: 0;
  outline: none;
  color: #e52d2d;
}

button {
  border: 0;
  border-radius: 50%;
  width: 3em; /* Reduz tamanho do botão para telas menores */
  height: 3em;
  cursor: pointer;
  background: #e52d2d;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

button i {
  font-size: 0.8em; /* Ícone proporcional ao botão */
}

@keyframes zoom {
  0% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
